* {
  margin: 0;
  padding: 0;
}

.head {
  text-align: center;
  margin: 75px 0 0 0;
}

.container {
  background-color: rgb(223, 107, 53);
  border: 10px solid black;
  box-shadow: 0 0 25px 10px rgb(136, 135, 135);
  border-radius: 15px;
  width: 500px;
  margin: 25px auto;
  padding: 75px 15px 25px;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
}

.display {
  font-size: 50px;
  margin: 0 0 25px 0;
}

button {
  padding: 7px 15px;
  margin: 10px;
  border-radius: 5px;
}

.stop {
  display: none;
}